html,
body {
	/* background-image: url(./Midnight\ City.jpg); */
	background-image: url(./Deep\ Space.jpg);
	color: #434343;
}

.card {
	margin-top: 3rem;
	margin-bottom: 3rem;
	border-radius: 1rem;
	background-color: whitesmoke;
	min-height: 900px;
	width: 70%;
}
h1 {
	margin: 50px 10px;
	font-size: 3rem;
}
.table {
	margin: 0;
}
.results {
	display: flex;
	flex-direction: column;
	padding: 50px 50px;
	width: 100%;
}
nav {
	align-self: flex-end;
	padding-top: 10px;
}
#search-label {
	display: flex;
	padding-top: 2px;
	align-items: center;
}
.form-label {
	margin-left: auto;
	font-size: 1.3rem;
}
form {
	width: 60%;
}
table {
	margin: 50px 50px;
}
.page-item.active .page-link {
	z-index: 1;
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}
.page-link {
	color: black;
}
.page-link:hover {
	color: #6c757d;
}
.page-link:focus {
	border-color: #6c757d;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #6c757d;
}

.active > .page-link {
	background-color: gray !Important;
	border-color: gray !Important;
}
